


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body{
    /* background-color: #212428; */
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    
}

nav ul li a:hover{
    color: #e00549;
}
.color-gray{
    color: #c4cfde;
}