


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body{
    /* background-color: #212428; */
    font-family: 'Roboto', sans-serif;
    background-color: #0f192b;
}
nav ul li a{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    
}
nav{
    backdrop-filter: blur(10px);
}

nav ul li a:hover{
   border-bottom: 2px solid #e00549;

    /* color: #e00549; */
}
.color{
    color: #c4cfde;
}
/* .anime-text::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    border-left: 2px solid #e00549;
    animation: animate 4s steps(12) infinite;
} */



/* desktop card mous hover */
@media screen  and (min-width:922px) {
    
    
    .card-hover:hover{
        transform: translateY(-0.50rem);
        transition: all ease-in 0.2s;
        
    }
    .arrow{
        opacity: 0;
    }
    .card-hover:hover .arrow{
        opacity: 1;
    }
    .feature-card:hover .card-arrow{
        opacity: 1;
        transition: all ease-in-out 0.4s;
        
    }
    .card-arrow{
        opacity: 0;
    }
}